- if @attendee.errors.any?
  %div{:class => "alert-message block-message error fade in", :data => {:alert => "alert"}}
    %a{:href => "#", :class => "close"}x
    %ul
    - @attendee.errors.full_messages.each do |error|
      %li= error
%div.clearfix
  = f.label :registration_type
  %div.input
    = f.select :registration_type, options_from_collection_for_select(@attendee_types, "id", "name", @attendee.attendee_type_id)
%div.clearfix
  = f.label :first_name
  %div.input
    = f.text_field :first_name
%div.clearfix
  = f.label :last_name
  %div.input
    = f.text_field :last_name
%div.clearfix
  = f.label :email
  %div.input
    = f.text_field :email
%div.clearfix
  = f.label :phone
  %div.input
    = f.text_field :phone
%div.clearfix
  = f.label 'Job title'
  %div.input
    = f.text_field :job
%div.clearfix
  = f.label 'Company'
  %div.input
    = f.text_field :company_name
%div.clearfix
  = f.label :address
  %div.input
    = f.text_field :address
%div.clearfix
  = f.label :city
  %div.input
    = f.text_field :city
%div.clearfix
  = f.label 'State'
  %div.input
    = f.text_field :state_name
%div.clearfix
  = f.label 'Country'
  %div.input
    = f.text_field :country_name
