%h2 Edit Preferences

%div#add-form.grid_12
  = form_for @preferences do |f|
    .grid_6.alpha
      .clearfix
        = f.label :print_label
        .input
          = f.check_box :print_label
      %h5 Fields to include in Name badge
      .clearfix
        = f.label 'Full name'
        .input
          = check_box_tag 'preference[label_options][full_name]', "1", @label_options["full_name"].present?
      .clearfix
        = f.label 'Email'
        .input
          = check_box_tag 'preference[label_options][email]', "1", @label_options["email"].present?
          .clearfix
        = f.label 'Phone'
        .input
          = check_box_tag 'preference[label_options][phone]', "1", @label_options["phone"].present?
      .clearfix
        = f.label 'Company'
        .input
          = check_box_tag 'preference[label_options][company]', "1", @label_options["company"].present?
      .clearfix
        = f.label 'Address'
        .input
          = check_box_tag 'preference[label_options][address]', "1", @label_options["address"].present?
      .clearfix
        = f.label 'City'
        .input
          = check_box_tag 'preference[label_options][city]', "1", @label_options["city"].present?
      .clearfix
        = f.label 'Attendee type'
        .input
          = check_box_tag 'preference[label_options][attendee_type]', "1", @label_options["attendee_type"].present?
    .grid_6.omega
      .clearfix
        = f.label :create_qrcode
        .input
          = f.check_box :create_qrcode
      %h5 Fields to include in Name badge
      .clearfix
        = f.label 'Full name'
        .input
          = check_box_tag 'preference[qrcode_options][full_name]', "1", @qrcode_options["full_name"].present?
      .clearfix
        = f.label 'Email'
        .input
          = check_box_tag 'preference[qrcode_options][email]', "1", @qrcode_options["email"].present?
      .clearfix
        = f.label 'Phone'
        .input
          = check_box_tag 'preference[qrcode_options][phone]', "1", @qrcode_options["phone"].present?
      .clearfix
        = f.label 'Company'
        .input
          = check_box_tag 'preference[qrcode_options][company]', "1", @qrcode_options["company"].present?
      .clearfix
        = f.label 'Address'
        .input
          = check_box_tag 'preference[qrcode_options][address]', "1", @qrcode_options["address"].present?
      .clearfix
        = f.label 'City'
        .input
          = check_box_tag 'preference[qrcode_options][city]', "1", @qrcode_options["city"].present?
    .clear
    .actions
      = f.submit 'Update preferences', class: 'btn primary'
