%div.grid_12
  %h2 Preferences
  .grid_6.alpha
    %div.label-properties
      %div
        .grid_2.alpha
          %h4 Print Namebadge:
        .grid_4.omega
          = label_output(@preferences.print_label)
      .clear
      %p
        %h5 Fields to include in Name badge
      %div
        .grid_2.alpha
          %p Full name:
        .grid_4.omega
          = label_output(@label_options["full_name"])
      .clear
      %div
        .grid_2.alpha
          %p Email:
        .grid_4.omega
          = label_output(@label_options["email"])
      .clear
      %div
        .grid_2.alpha
          %p Phone:
        .grid_4.omega
          = label_output(@label_options["phone"])
      .clear
      %div
        .grid_2.alpha
          %p Company:
        .grid_4.omega
          = label_output(@label_options["company_name"])
      .clear
      %div
        .grid_2.alpha
          %p Address:
        .grid_4.omega
          = label_output(@label_options["address"])
      .clear
      %div
        .grid_2.alpha
          %p City:
        .grid_4.omega
          = label_output(@label_options["city"])
      .clear
      %div
        .grid_2.alpha
          %p Attendee type:
        .grid_4.omega
          = label_output(@label_options["registration_type"])
      .clear
  .grid_6.omega
    %div.qrcode-properties
      %div
        .grid_2.alpha
          %h4 Create QRCode:
        .grid_4.omega
          = label_output(@preferences.create_qrcode)
      .clear
      %p
        %h5 Fields to include in QRCode
      %div
        .grid_2.alpha
          %p Full name:
        .grid_4.omega
          = label_output(@qrcode_options["full_name"])
      .clear
      %div
        .grid_2.alpha
          %p Email:
        .grid_4.omega
          = label_output(@qrcode_options["email"])
      .clear
      %div
        .grid_2.alpha
          %p Phone:
        .grid_4.omega
          = label_output(@qrcode_options["phone"])
      .clear
      %div
        .grid_2.alpha
          %p Company:
        .grid_4.omega
          = label_output(@qrcode_options["company_name"])
      .clear
      %div
        .grid_2.alpha
          %p Address:
        .grid_4.omega
          = label_output(@qrcode_options["address"])
      .clear
      %div
        .grid_2.alpha
          %p City:
        .grid_4.omega
          = label_output(@qrcode_options["city"])
      .clear
%div.clear
%div.grid_12
  .actions
    = link_to "Edit preferences", edit_preference_path(@preferences), class: "btn primary"
