!!! 5
%html{:lang => "en"}
  %head
    %meta
    %title Registrame
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %noscript
      %link{:rel => "stylesheet", :href => "/stylesheets/mobile.min.css"}
    :javascript
      var ADAPT_CONFIG = {
        // Where is your CSS?
        // path: 'css/',
        path: '/stylesheets/',

        // false = Only run once, when page first loads.
        // true = Change on window resize and page tilt.
        dynamic: true,

        // First range entry is the minimum.
        // Last range entry is the maximum.
        // Separate ranges by "to" keyword.
        range: [
          '0px    to 760px  = mobile.min.css',
          '760px  to 980px  = 720.min.css',
          '980px  to 1280px = 960.min.css',
          '1280px to 1600px = 1200.min.css',
          '1600px to 1940px = 1560.min.css',
          '1940px to 2540px = 1920.min.css',
          '2540px           = 2520.min.css'
        ]
      };
    %script{:src => "/javascripts/adapt.min.js"}
    = csrf_meta_tags
  %body
    %header.topbar-wrapper
      = render partial: "layouts/navigation"

    #alerts.container_12
      #flash.grid_12
        - flash.each do |key, value|
          %div{:class => "alert-message block-message #{key == :notice ? 'success' : key} fade in", :data => {:alert => "alert"}}
            %a{:href => "#", :class => "close"}x
            = value
    #page.container_12
      = yield
