!!! 5
%html{:lang => "en"}
  %head
    %meta
    %title Registrame
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %noscript
      %link{:rel => "stylesheet", :href => "/stylesheets/mobile.min.css"}
    :javascript
      var ADAPT_CONFIG = {
        // Where is your CSS?
        // path: 'css/',
        path: '/stylesheets/',

        // false = Only run once, when page first loads.
        // true = Change on window resize and page tilt.
        dynamic: true,

        // First range entry is the minimum.
        // Last range entry is the maximum.
        // Separate ranges by "to" keyword.
        range: [
          '0px    to 760px  = mobile.min.css',
          '760px  to 980px  = 720.min.css',
          '980px  to 1280px = 960.min.css',
          '1280px to 1600px = 1200.min.css',
          '1600px to 1940px = 1560.min.css',
          '1940px to 2540px = 1920.min.css',
          '2540px           = 2520.min.css'
        ]
      };
    %script{:src => "/javascripts/adapt.min.js"}
    = csrf_meta_tags
  %body
    %header.topbar-wrapper
      %nav.topbar
        .topbar-inner
          .container_12.container
            %h3= link_to ":registra.me", root_path
            %ul.nav
            %ul.nav.secondary-nav
              - if current_user
                %li{:class => "dropdown", :data => {:dropdown => "dropdown"}}
                  = link_to current_user.email, "#", class: "dropdown-toggle"
                  %ul.dropdown-menu
                    %li= link_to "Edit my account", edit_user_registration_path
                    %li.divider
                    %li= link_to "Logout", destroy_user_session_path, method: :delete
              - else
                %li= link_to "Login", new_user_session_path

    #alerts.container_12
      #flash.grid_12
        - flash.each do |key, value|
          %div{:class => "alert-message block-message #{key == :notice ? 'success' : key} fade in", :data => {:alert => "alert"}}
            %a{:href => "#", :class => "close"}x
            = value
    #page.container_12
      = yield
